html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .timer {
    float: left;
    text-align: left;
    margin: 0 0 0 10px;
    padding: 0;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: top;
  overflow: auto;
}

.m-popup {
  height: content-box;
  width: 30%;
  background-color: #e6ffe6;
  position: relative;
  top: 10%;
  padding: 18px;
  margin: 10% auto;
  text-align: center;
  border-radius: 5px;
}

.m-headercontent {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.m-close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #d1d1e0;
}

.m-close:hover {
  color: #000000;
  cursor: pointer;
}

.m-header {
  border-bottom: 2px dashed #ff8080;
  padding-top: 10px;
  margin: 5px 10px;
}

.m-statcontent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.m-stats {
  display: block;
  text-align: center;
}

.m-buttoncontent {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

.m-button {
  background-color: #d966ff;
  border-radius: 10px;
  height: 30px;
  width: content-box;
}

.m-button:hover {
  background-color: #0000ff;
  color: white;
  cursor: pointer;
}
